In [1]:
import pandas as pd
import numpy as np
import plotly_express as px
import plotly.io as pio
pio.renderers.default = "iframe"

In [2]:
df1 = pd.read_csv(r"C:\Users\karki\OneDrive\Desktop\GitHub_repo\fraudTest.csv")
df2 = pd.read_csv(r"C:\Users\karki\OneDrive\Desktop\GitHub_repo\fraudTrain.csv")

In [3]:
df2.shape

(1296675, 23)

In [4]:
df2.isna().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [5]:
df2.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [6]:
df2.nunique()

Unnamed: 0               1296675
trans_date_trans_time    1274791
cc_num                       983
merchant                     693
category                      14
amt                        52928
first                        352
last                         481
gender                         2
street                       983
city                         894
state                         51
zip                          970
lat                          968
long                         969
city_pop                     879
job                          494
dob                          968
trans_num                1296675
unix_time                1274823
merch_lat                1247805
merch_long               1275745
is_fraud                       2
dtype: int64

In [7]:
df2.drop_duplicates(inplace = True)
df1.drop_duplicates(inplace = True)

In [8]:
df1.drop(columns=['Unnamed: 0','street','state','first','last','trans_num','unix_time',"city"],inplace=True)
df2.drop(columns=['Unnamed: 0','street','state','first','last','trans_num','unix_time',"city"],inplace=True)

In [9]:
df2.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,zip,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,38.674999,-78.632459,0

In [10]:
df2.dtypes

trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
gender                    object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [11]:
df2["trans_date_trans_time"] = pd.to_datetime(df2['trans_date_trans_time'])
df1["trans_date_trans_time"] = pd.to_datetime(df1['trans_date_trans_time'])

In [12]:
df2.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,zip,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,38.674999,-78.632459,0

In [13]:
fraud_counts = df2["is_fraud"].value_counts()
fig = px.pie(values=fraud_counts, names=fraud_counts.index, title='Fraud Distribution', template= "simple_white")
fig.show()

In [14]:
import plotly.express as px
fraud_df = df2[df2["is_fraud"] == 1]
px.histogram(x=fraud_df["gender"], template="simple_white", title="Men and Women affected by Fraud", data_frame= fraud_df, color= "gender")

We do not see a clear difference between both genders. Data seem to suggest that females and males are almost equally susceptible (50%) to transaction fraud. Gender is not very indicative of a fraudulent transaction.

In [15]:
fraud_df = df2[df2["is_fraud"] == 1]
px.bar(y= fraud_df["category"], template="simple_white", data_frame= fraud_df, color ="category")

Spending categories indeed see more fraud than others. Fraud tends to happen more often in 'Shopping_net', 'Grocery_pos', and 'misc_net' while 'home' and 'kids_pets' among others tend to see more normal transactions than fraudulent ones.

In [16]:
fraud_df = df2[df2["is_fraud"] == 1]
px.scatter_geo(data_frame=fraud_df,
               lat= "lat", 
               lon="long", 
               title= "Location of The Transaction", 
               color= "is_fraud", 
               template="simple_white")

The above map shows that most of the Fraud transaction that has happend is in the USA, some of the Fraud Transaction we can see happening is in Canada, Alsaka and also some of them in Hawaii island too.

In [17]:
df2["age"] = pd.DatetimeIndex(df2["trans_date_trans_time"]).year - pd.DatetimeIndex(df2["dob"]).year
df1["age"] = pd.DatetimeIndex(df1["trans_date_trans_time"]).year - pd.DatetimeIndex(df1["dob"]).year
fraud_df = df2[df2["is_fraud"] == 1]
px.histogram(data_frame=fraud_df, x="age", title="Distrubution of Fradulent Activity based on age", template="simple_white")

As we can see that people in from the 20's to 60s are most affected by the Fraud transaction also we see

In [18]:
#Just plotting the top ten jobs that are more susceptible to fraudulent transactions.
#top_jobs = df2["job"].value_counts()
#print(top_jobs[: 10])
y = df2["job"].value_counts().values[:11]
x = df2["job"].value_counts().index[:11]
px.bar(x = x, y = y, data_frame= df2[:11], color="job", template="simple_white", title="Top 10 jobs likely to be the Victim of Fradulent transaction")

# Feature Encoding

In [19]:
df2['hour'] = df2['trans_date_trans_time'].dt.hour
df2['day'] = df2['trans_date_trans_time'].dt.day
df2['day_of_week'] = df2['trans_date_trans_time'].dt.dayofweek 
df2['month'] = df2['trans_date_trans_time'].dt.month
df2['quarter'] = df2['trans_date_trans_time'].dt.quarter

df1['hour'] = df1['trans_date_trans_time'].dt.hour
df1['day'] = df1['trans_date_trans_time'].dt.day
df1['day_of_week'] = df1['trans_date_trans_time'].dt.dayofweek 
df1['month'] = df1['trans_date_trans_time'].dt.month
df1['quarter'] = df1['trans_date_trans_time'].dt.quarter

df2.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,zip,lat,long,city_pop,...,dob,merch_lat,merch_long,is_fraud,age,hour,day,day_of_week,month,quarter
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,28654,36.0788,-81.1781,3495,...,1988-03-09,36.011293,-82.048315,0,31,0,1,1,1,1
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,99160,48.8878,-118.2105,149,...,1978-06-21,49.159047,-118.186462,0,41,0,1,1,1,1
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,83252,42.1808,-112.2620,4154,...,1962-01-19,43.150704,-112.154481,0,57,0,1,1,1,1
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,59632,46.2306,-112.1138,1939,...,1967-01-12,47.034331,-112.561071,0,52,0,1,1,1,1
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,24433,38.4207,-79.4629,99,...,1986-03-28,38.674999,-78.632459,0,33,0,1,1,1,1

In [20]:
df2.drop(['trans_date_trans_time','dob'],axis=1, inplace=True)
df1.drop(['trans_date_trans_time','dob'],axis=1, inplace= True)

In [22]:
df2["merchant"] = df2["merchant"].str.removeprefix("fraud_")
df1["merchant"] = df1["merchant"].str.removeprefix("fraud_")

In [23]:
fraud_df["cc_num"]

2449          4613314721966
2472        340187018810220
2523        340187018810220
2546          4613314721966
2553        340187018810220
                 ...
1295399    3524574586339330
1295491    3524574586339330
1295532    4005676619255478
1295666    3560725013359375
1295733    4005676619255478
Name: cc_num, Length: 7506, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder

lable_encoder = LabelEncoder()

df2['job'] = lable_encoder.fit_transform(df2['job'])
df2['category'] = lable_encoder.fit_transform(df2['category'])
df2['merchant'] = lable_encoder.fit_transform(df2['merchant'])

df1['job'] = lable_encoder.fit_transform(df1['job'])
df1['category'] = lable_encoder.fit_transform(df1['category'])
df1['merchant'] = lable_encoder.fit_transform(df1['merchant'])

In [25]:
df2.head()

,cc_num,merchant,category,amt,gender,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,age,hour,day,day_of_week,month,quarter
0,2703186189652095,514,8,4.97,F,28654,36.0788,-81.1781,3495,370,36.011293,-82.048315,0,31,0,1,1,1,1
1,630423337322,241,4,107.23,F,99160,48.8878,-118.2105,149,428,49.159047,-118.186462,0,41,0,1,1,1,1
2,38859492057661,390,0,220.11,M,83252,42.1808,-112.2620,4154,307,43.150704,-112.154481,0,57,0,1,1,1,1
3,3534093764340240,360,2,45.00,M,59632,46.2306,-112.1138,1939,328,47.034331,-112.561071,0,52,0,1,1,1,1
4,375534208663984,297,9,41.96,M,24433,38.4207,-79.4629,99,116,38.674999,-78.632459,0,33,0,1,1,1,1

In [27]:
df2 = pd.get_dummies(df2, columns=['gender'], prefix='gender',  dtype= int)
df1 = pd.get_dummies(df1, columns=['gender'], prefix='gender',  dtype=int)